.row {
	color: #fff;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.row__title {
	font-size: 1.4vw;
	line-height: 1;
	margin-left: 60px;
	margin-bottom: 15px;
}
.row__movies {
	height: auto;
	position: relative;
	padding-left: 60px;
	padding-right: 60px;
}

.row__movies .flickity-viewport {
	overflow: initial;
}

.row__movies .flickity-button {
	position: absolute;
	height: 100%;
	width: 60px;
	top: 50%;
	transform: translateY(-50%);
	background: transparent;
	border: none;
	border-radius: 0;
	transition: 0.4s;
}
.row.--large .row__movies .flickity-button {
	top: 50%;
}
.row__movies .flickity-button:focus {
	box-shadow: none;
}
.row__movies .flickity-button:disabled {
	opacity: 0;
}

.row__movies .flickity-button:hover {
	background-color: transparent;
}

.row__movies .flickity-button svg {
	fill: #fff;
}
.row__movies .flickity-button.previous {
	left: 0;
}

.row__movies .flickity-button.next {
	right: 0;
}
