* {
	margin: 0;
}

.app {
	background-color: #111;
}

.app .list {
	position: relative;
	z-index: 100;
	margin-top: calc(-20vh);
}
/* width */
::-webkit-scrollbar {
	width: 4px;
}
/* Track */
::-webkit-scrollbar-track {
	border-radius: 2px;
	background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #2b2b2b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #b30000;
}
